@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: 'VT323';
}

.container-game {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
}

.footer {
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}